[submodule "assessment-system-frontend"]
	path = assessment-system-frontend
	url = https://github.com/babbiepeach/assessment-system-frontend.git
[submodule "plagiarism-backend"]
	path = plagiarism-backend
	url = https://github.com/Nsiikak/PlagiarismAI-backend